<div class="card bg-dark mb-3">
  <div class="card-body">
    <div
      class="bg-dark text-info d-flex justify-content-between align-items-center post"
    >
      {{! If the user who created the post is looking at it, they can modify it. otherwise it's read-only }}
      {{#if isPostOwner}}
        <input
          class="post-title form-control bg-dark mb-2 text-info"
          value={{post.title}}
        />
      {{else}}
        <h4 class="post-title">{{post.title}}</h4>
        <span>Posted by
          {{post.user.name}}
          on
          {{format_date post.date_created}}</span>
      {{/if}}
    </div>
    {{#if isPostOwner}}
      <textarea
        class="form-control bg-dark fs-5 text-info mb-2 post-content"
      >{{post.content}}</textarea>
    {{else}}
      <div
        class="card-text fs-5 text-white mb-2 post-content"
      >{{post.content}}</div>
    {{/if}}
  </div>
  {{! Shows update and delete buttons only if the author is looking at the post }}
  {{#if isPostOwner}}
    <button class="btn btn-info update-button mb-2 mx-2">Update</button>
    <button class="btn btn-danger delete-button mb-2 mx-2">Delete</button>
  {{/if}}
</div>

{{! show comment entry form if the viewer is not teh author }}
{{#unless isPostOwner}}
  <div class="add-comment">
    <form id="create-comment" class="form-control bg-dark text-info">
      <label for="comment-content" class="form-label">Comment</label>
      <textarea
        class="form-control mb-3 bg-dark text-info"
        id="comment-content"
      ></textarea>

      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
{{/unless}}

{{! display each comment returned from the API with attribution to the author }}
{{#each post.comments as |comment|}}
  <div class="card mb-3 p-2 bg-dark">
    <div class="card-text text-white mb-2">
      {{comment.content}}
      <p class="m-0 text-info">-
        {{comment.user_name}},
        {{format_date comment.date_created}}</p>
    </div>
  </div>
{{/each}}

<script src="/js/post.js"></script>